$color-primary-0: #B04572;	// Main Primary color */
$color-primary-1: #E47FAA;
$color-primary-2: #D06290;
$color-primary-3: #902D57;
$color-primary-4: #6A193C;

$color-secondary-1-0: #B4C84E;	// Main Secondary color (1) */
$color-secondary-1-1: #E7F98B;
$color-secondary-1-2: #D8EC6F;
$color-secondary-1-3: #91A334;
$color-secondary-1-4: #6A791D;

$color-secondary-2-0: #843587;	// Main Secondary color (2) */
$color-secondary-2-1: #BC6BBF;
$color-secondary-2-2: #9C4B9F;
$color-secondary-2-3: #6B236E;
$color-secondary-2-4: #4F1451;

$color-complement-0: #8BBD4A;	// Main Complement color */
$color-complement-1: #C1EF86;
$color-complement-2: #ABDE69;
$color-complement-3: #6C9A31;
$color-complement-4: #4C721B;
